{% extends "base.html" %}

{% block js %}
	<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/contact.css') }}" media="screen" />
{% endblock %}

{% block content %}

<div id="centerContainer" class="centerContainerEdit">
	<div class="smallblock blockAttributes blockAttributesEdit" style="width:550px;">
		<table  align="left" cellspacing="20">
			<form  enctype="multipart/form-data" autocomplete="off" action="{{url_for("sent")}}" method="post">
			<tr>
				<td class="heading" align="left" colspan="2">Send Charlotte a Message!</td>
			</tr>
			<tr>
				<td>Your Email: </td>
				<td align="left"><input type="text" name="from"/></td>
			</tr>
			<tr>
				<td>Subject: </td>
				<td align="left"><input type="text" name="subject"/></td>
			</tr>
			<tr>
				<td>Message: </td>
				<td><textarea name="message" rows="8" cols="40"></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Send!" /></td>
			</tr>
			</form>
		</table>
	</div>
	<div class="smallblock blockAttributes blockAttributesEdit" style="float:right;">
		<table align="center" cellspacing="20">
			<tr>
				<td>
					Phone:
				</td>
				<td>
					267-234-8911
				</td>
			</tr>
			<tr>
				<td>
					Address:
				</td>
				<td>
					11 Springpl Ln, Herndon Pa
				</td>
			</tr>
			<tr>
				<td>
					Email:
				</td>
				<td>
					chc190@pitt.edu
				</td>
			</tr>
		</table>
	</div>
</div>


{% endblock %}