* {
    /*
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    */

   	/* fixed width and height of divs despite paddings*/
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    margin-bottom: 100px !important;
}
body
{
    left:0px;right:0px;
	background-image: url("../images/lghtmesh.png");
	font-family: 'Bangers', cursive;
	overflow-x:hidden!important;
	min-height:100%; padding:0 !important; margin:0 !important;
}
h1{
    position: absolute;
    font-size: 37px !important;
    padding: 0px;
    margin: 0px;
    top: 0px;
    width:250px;
    display: block;
    font-weight: normal;
}
.centerLogin{
    position: absolute;
    left: 70px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}
.closeLogin{
    float: right;
    color: white;
    text-decoration: none;
    top: 50%;
    -webkit-transform: translate(-1%,-50%);
    -moz-transform: translate(-1%,-50%);
    -o-transform: translate(-1%,-50%);
    -ms-transform: translate(-1%,-50%);
    margin-left: 15px;
}
.closeLogin:hover{
    color: yellow;
}
#force
{
	position: absolute;
	padding: 0px !important;
    margin: 0px !important;
    min-width: 1325px;
    display: block;
    background-color: rgba(222,62,62,0.1);
	top:0; bottom:0; left:0; right:0;
	z-index: 10;
	padding-bottom: 200px !important;
	min-height: 100%;
}
.blockAttributes{
	color: #4D4D4D;
	padding: 20px;
	font-size: 18px;
	background-color: rgba(255,255,255,0.5) !important;
	z-index: 10 !important;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	-webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	-moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	border: none !important;
}
.block{
	position: relative;
	width: 100%;
	height: auto;
	clear: both;
	display: inline-block;
	margin: 0px;
	margin-bottom: 80px;
	padding: 20px;
	float: left;
}
.block:last-child{
	margin-bottom: 0px;
}
.centerContainerWidth{
    width: 950px;
	margin-left: -475px !important;
}
#centerContainer{
	position: absolute;
	height: auto;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	top: 150px;
	padding-bottom: 200px;
}
#Charlotte
{
	position: absolute;
	color: #ED5A5A;
	color: #F76A6A;
	text-align: center;
	padding: 0px;
	cursor: pointer;
	left: 0px;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    display: block;
    top: 0px;
}
.circleMenu
{
	position: fixed;
	top: 50%;
	left: 2%;
	margin-right: -0%;
	-webkit-transform: translate(-1%,-50%);
    -moz-transform: translate(-1%,-50%);
    -o-transform: translate(-1%,-50%);
    -ms-transform: translate(-1%,-50%);
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.circleMenu li
{
	margin-top: 20px;
	margin-left: 0px;
}
.circleMenu a {
	width: 12px;
	height: 12px;
	border: 1px solid #576F94;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	display:inline-block;
	text-decoration: none;
}
.circleMenu a:hover{
	background-color: red;
}
.closeEditPane
{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: white;
 	background-color: #B4B8D4;
	font-size: 25px;
	cursor: pointer;
	top: 0%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);

}
.closeEditPane:hover
{
	background-color: #8F96C2;
}
.editPane
{
	position: fixed;
	width: 1150px;
	height: 680px;
	padding: 30px;
	top: 50%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
     -webkit-transform:  translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    z-index: 6;
    overflow-y: scroll;
    color: black;
    font-size: 17px;
    background-color: white;

}
.editPaneOverlay
{
	position: fixed;
	left: 0px;
	top: 5px;
	height: 100%;
	width: 100%;
	background-color: rgba(50,45,51,0.8);
	display: none;
	z-index: 2000;
}
.editPane table
{
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
}
.editPane td
{
	padding: 10px;
	padding-top: 0px;
	border-width: 1px;
	border-bottom: solid #E0D9D7;
	text-align: center;
}
.editPaneHeader
{
	position: relative;
	text-align: center;
	padding-top: 20px;
	height: 80px;
	width: 100%;
	color: #464C5E;
	font-size: 30px;
}
.editPaneBlock
{
	position: relative;
	width: 100%;
	left: 0px;
	height: auto;
	margin-top: 15px;
	float: left;
	text-align: center;
}

#menu{
	position: relative;
	width: 100%;
	background-color: rgba(57,56,77,.7);
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	z-index: 1000;
}
#menuItemHolder {
	position: absolute;
	width: 700px;
	margin: 0px;
	padding: 0px;
	left: 50%;
	top: 0%;
	margin-left: -350px;
	/*transform: translate(-50%,-0%);*/
}
#menuItemHolder a {
	text-decoration: none;
	color:#E3DEDE;
	color: #D6BABA;
	font-size:22px;
	letter-spacing: 1px;
	font-weight: 400 !important;
	width:140px;
	display: block;
	float: left;
	text-align: center;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	cursor: pointer;
}
#menuItemHolder a:hover, .menuItemSelected {
	border-bottom: 3px solid #7F56E8 !important;
	color:white !important;
}

#menuItemHolder a:nth-child(1):hover, .homeSettings {
	background-color: #ED5858;
}
#menuItemHolder a:nth-child(2):hover, .developerSettings {
	background-color: #9173FF;
}
#menuItemHolder a:nth-child(3):hover, .artSettings{
	background-color: #59C8FF;
}
#menuItemHolder a:nth-child(4):hover, .aboutSettings{
    background-color: #FFAF54;
}
#menuItemHolder a:nth-child(5):hover, .contactSettings {
    background-color: #6EF0BA;
}
#menuItemHolder a:nth-child(5) {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}
#menuItemHolder a img{
	display: none;
}
/* height of menu */
#menu, #menuItemHolder, #menuItemHolder a, #Charlotte {
  height: 60px;
  line-height:60px;

}
/* color of menu border */
#menu, #menuItemHolder a{
border-color: #505863;
}

.openEditPane
{
	position: absolute;
	top: 5%;
	left: 95%;
    margin-right: -50%;
   /* transform: translate(-15%, -95%);*/
    background-image: url("../images/icons/setting.png");
    width: 24px;
    height: 24px;
    cursor: pointer;
	z-index: 100;
	display: none;
}
.user
{
	position: absolute;
	left: 96%;
	margin-right: -50%;
	transform: translate(-96%,-0%);
	     -webkit-transform:  translate(-96%,-0%);
    -moz-transform: translate(-96%,-0%);
    -o-transform:  translate(-96%,-0%);
    -ms-transform:  translate(-96%,-0%);
    font-size: 15px;
    width: 220px;
    height: 100%;
    color: #27C23B;
    color: white;
    text-align: center;
}
.user a
{
	text-decoration: none;
	color: yellow;
}
.user span
{
	line-height: 80px;
}
.smallblock
{
	padding-top: 50px;
	float: left;
	width: 450px;
	height: auto;
	display: inline-block;
	margin-bottom: 100px;
}
.smallblock ul
{
	color: #57607D;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.highlight{
    color: yellow !important;
   /*width: 150px !important;*/
   /*margin-left: -20px !important;*/
}



#menuRight{
    position: fixed;
    height: 420px;
    width: 60px;
    top: 50%;
	left: 100%;
    margin-right: -100%;
    transform: translate(-100%, -50%);
     -webkit-transform:  translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -o-transform:  translate(-100%, -50%);
    -ms-transform:  translate(-100%, -50%);
    z-index: 1000 !important;
	overflow: hidden;
-webkit-box-shadow: 0px 0px 10px 2px rgba(77,70,77,1);
-moz-box-shadow: 0px 0px 10px 2px rgba(77,70,77,1);
box-shadow: 0px 0px 10px 2px rgba(77,70,77,1);
}
#menuRight div{
	height: 70px;
	width: 310px;
    position: relative;
	cursor: pointer;
	/*margin: 3px 0px 3px 0px;*/
	font-size: 20px;
	letter-spacing: 1px;
	z-index: 1001;
}
#menuRight div:nth-child(1){
    background-color: #6572BF;
}
#menuRight div:nth-child(2){
    background-color: #5F9BCF;
}
#menuRight div:nth-child(3){
    background-color: #3B4F8F;
}
#menuRight div:nth-child(4){
    background-color: #DE4949;
}
#menuRight div:nth-child(5){
    background-color: #FA5555;
}
#menuRight div:nth-child(6){
    background-color: #AD63C2;
}
#menuRight div span:nth-child(2){
	position:absolute;
	height: auto;
	width: auto;
	margin: 0px;
	padding: 0px;
	color: white;
	display: block;
	float: left;
	top: 50%;
	left: 60px;
	margin-right: -0%;
	-webkit-transform: translate(0px,-50%);
    -moz-transform: translate(0px,-50%);
    -o-transform: translate(0px,-50%);
    -ms-transform: translate(0px,-50%);
    display: inline-block;
    font-size: 21px;
}
#menuRight div span input{
	margin-bottom: 5px;
	padding: 0px;
	background-color: #C3C1C7;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	width: 150px;
	height: 25px;
	border: 1px solid blue;
}
.boxShadow{
    -webkit-box-shadow: -2px 0px 5px 3px rgba(181,181,181,1);
	-moz-box-shadow: -2px 0px 5px 3px rgba(181,181,181,1);
	box-shadow: -2px 0px 5px 3px rgba(181,181,181,1);
}
#menuRight div img{
    width: 35px;
    height: 35px;
    margin-left: 12px;
    margin-top: 15px;
}
#menuRightCover{
     position: fixed;
    height: 450px;
    width: 35px;
    background-color: black;
    top: 50%;
	left: 100%;
    margin-right: -100%;
    z-index: 10000;
    transform: translate(-100%, -50%);
     -webkit-transform:  translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -o-transform:  translate(-100%, -50%);
    -ms-transform:  translate(-100%, -50%);
    background-image: url("../images/lghtmesh.png");
}
#menuRightCoverOverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
     height: 450px;
    width: 35px;
    background-color: rgba(222,62,62,0.1);

}









.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon{
 width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 100000000;
  	color: white;
  	font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-bottom: 3px solid #9293D6;
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
-webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
}

/* Different positions */


